@page
@model Kamla_Raul_ProiectFinal.Pages.Games.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Game.Title" class="control-label"></label>
                <input asp-for="Game.Title" class="form-control" />
                <span asp-validation-for="Game.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Genre" class="control-label"></label>
                <input asp-for="Game.Genre" class="form-control" />
                <span asp-validation-for="Game.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Price" class="control-label"></label>
                <input asp-for="Game.Price" class="form-control" />
                <span asp-validation-for="Game.Price" class="text-danger"></span>
            </div>
            <div class ="form-group">
                <label asp-for ="Game.PublishingDate" class="control-label"></label>
                <input asp-for ="Game.PublishingDate" class="form-control"/>
                <span asp-validation-for ="Game.PublishingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.AuthorId" class="control-label">Author Name</label>
                <select asp-for="Game.AuthorId" class ="form-control" asp-items="ViewBag.AuthorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Game.ProviderId" class="control-label">Provider Name</label>
                <select asp-for="Game.ProviderId" class ="form-control" asp-items="ViewBag.ProviderId"></select>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
